:root {
  /* Fontes */
  --fonte-corpo: "Inter", sans-serif;
  --fonte-titulos: "Bai Jamjuree", sans-serif;
  --cor-texto: #6e859f;
  --cor-destaque-roxo: #c75eeb;
  --cor-texto-branco: #ffffff;
  --botao-gradiente: linear-gradient(90deg, #c75eeb, #f6543b);
  --botao-gradiente-hover: linear-gradient(90deg, #560d6e, #560d6e);

  --padding-xs: 14px;
  --padding-s: 16px;
  --padding-m: 24px;
  --padding-l: 32px;

  --gap-s: 16px;
  --gap-m: 24px;
  --gap-l: 32px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fonte-titulos);
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

body {
  font-family: var(--fonte-corpo);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  width: 1192px;
  margin: 0 auto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m) 0;
  width: 100%;
}

.cabecalho__nav {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.cabecalho__lista {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-m);
}

.cabecalho__item > a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-texto);
  text-decoration: none;
  transition: 0.2s ease-in;

  &:hover {
    color: var(--cor-destaque-roxo);
  }
}

.cabecalho__botoes {
  display: flex;
  gap: var(--gap-s);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: var(--padding-xs) var(--padding-l);
  border: none;
  border-radius: 200px;
  font-size: 12px;
  font-weight: 600;
}

.btn__primario {
  background-image: var(--botao-gradiente);
  color: var(--cor-texto-branco);
  transition: 0.2s ease-in;

  &:hover {
    background-image: var(--botao-gradiente-hover);
  }
}

.btn__secundario {
  border: 1px solid var(--cor-destaque-roxo);
  color: var(--cor-destaque-roxo);
}

.cabecalho__divisor {
  height: 1px;
  width: 100%;
  background-color: var(--cor-destaque-roxo);
}
